@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can leave your review about any movie of book</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Reviews" asp-action="Index" >Leave review now!</a>

</div>
